*.html
*.log
pac.txt

bin/
[Bb]uild/
*.obj
*.user
.vs/
[A-Za-z]*.????????/
*.d071f9de/

ZfwInteractionDll/x64/
DNSManagerDll/x64/
TestApp/x64/
Marduk/x64/
NetworkDiagnosticDll/x64/
WifiPortalDll/x64/
report/

vcpkg_installed/