*.html
*.log
pac.txt

.vscode/
bin/
[Bb]uild/
build/
build-*/
*.obj
*.user
.vs/
[A-Za-z]*.????????/
*.d071f9de/

ZfwInteractionDll/x64/
DNSManagerDll/x64/
TestApp/x64/
Marduk/x64/
NetworkDiagnosticDll/x64/
WifiPortalDll/x64/
report/

vcpkg_installed/

# CMake
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
compile_commands.json
