*.html
*.log
pac.txt

.vscode/
.vs/
bin/
[Bb]uild/
*.obj
*.user
.vs/
[A-Za-z]*.????????/

ZfwInteractionDll/x64/
DNSManagerDll/x64/
TestApp/x64/
Marduk/x64/
NetworkDiagnosticDll/x64/
WifiPortalDll/x64/

ZfwInteractionDll/Debug/
DNSManagerDll/Debug/
TestApp/Debug/
Marduk/Debug/
NetworkDiagnosticDll/Debug/
WifiPortalDll/Debug/

Debug/

report/

vcpkg_installed/

target/
